*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;

}
.headerSection{
  display: flex;
  justify-content: space-between;
  padding:10px;
  background-color:cadetblue;
  color:black;
  align-items: center;
}

.title{
  font-size: 1rem;
}
.center ul li{
  list-style: none;
  display: inline-flex;
  margin:0px 10px;
}
.left{
  flex:2;
 
}
.center{
  flex:4;
 
}
.search{
  flex:2;
 
}
.search input{
  padding:10px;
  width:20rem;
  border-radius: 5px;
  margin-left: -50px;
}



.right{
  flex:4;
  justify-content: space-between;
  display:flex;
  
  padding:0px 10px;
}
.bannerBox img{
  width: 100%;
}
.bannerBox{
  margin: 10px 0px;
}
.menImages{
  display: flex;

}
.menImages img{
  width:220px;
  height:300px;
  padding:10px;
  width:100%;
  
  
}
.childrenImages{
  display: flex;

}
.childrenImages img{
  width:220px;
  height:300px;
  padding:10px;
  width:100%;
}
.beautyImages img{
  width:220px;
  height:300px;
  padding:10px;
  width:100%;

}
.beautyImages{
  display: flex;
}
.womensImages image{
  width:220px;
  height:300px;
  padding:10px;
  width:100%;
  

}
.submenu {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.submenu.open {
  display: flex; 
  gap: 15px;
  flex-direction: column;
}






